<template lang="pug">
.border-indigo-800.border-2.my-1
  .bg-indigo-700.text-white.pl-4.py-2(class="cursor-pointer hover:bg-indigo-600"  @click="collapsed = !collapsed")
    span(v-if="collapsed") &#707;
    span(v-else) &#709;
    span.ml-2 {{ tagContent.name }}
  .pl-5.my-2(v-show="!collapsed")
    template(v-if="hasChildren")
      TagView(
        v-for="(tag, index) in tagContent.children"
        :key="index"
        :tagContent="tag"
      )
    template(v-else)
      div Data  
        span.ml-4 
          input.p-2.border.border-gray-600( class="focus:border-indigo-600 focus:shadow-md" v-model="tagContent.data")
</template>

<script>
export default {
  name: 'TagView',
  props: {
    tagContent: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      collapsed: false
    }
  },
  computed: {
    hasChildren() {
      return this.tagContent.hasOwnProperty('children')
    }
  }
}
</script>

<style lang="postcss">
</style>