<template lang="pug">
main.p-4
  section
    h1.my-3.text-2xl.text-center Tree Data Structure
    TagView(:tagContent.sync='tree')

    button.bg-indigo-600.text-white.px-3.py-1.rounded.m-2.transform(
      class='hover:bg-indigo-900 hover:shadow-md hover:-translate-y-0.5',
      @click='exportData()'
    ) Export

    div {{ output }}
</template>


<script>
import TagView from '@/components/TagView'

export default {
  components: {
    TagView,
  },
  data() {
    return {
      tree: {
        name: 'root',
        children: [
          {
            name: 'child1',
            children: [
              { name: 'child1-child1', data: 'c1-c1 Hello' },
              { name: 'child1-child2', data: 'c1-c2 JS' },
            ],
          },
          { name: 'child2', data: 'c2 World' },
        ],
      },
      output: '',
    }
  },
  methods: {
    exportData() {
      this.output = JSON.stringify(this.tree);
    }
  }
}
</script>